<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Puzzle Pak</Name>
    <Version>1.02</Version>
    <Title>Puzzle Pak Installer</Title>
    <Publisher>26Apps</Publisher>
	<StartMenuDir>Puzzle Pak</StartMenuDir>
    <TargetDir>@HomeDir@/Puzzle Pak</TargetDir>
	<InstallerWindowIcon>icon.png</InstallerWindowIcon>
	<TitleColor>#3695da</TitleColor>	
	<RemoveTargetDir>true</RemoveTargetDir>
</Installer>
